In [1]:
# Dependencies 
import pandas as pd
from sqlalchemy import create_engine

In [139]:
# Import CSV
fleet_csv = "./Resources/Fleet Data.csv"
fleet_df = pd.read_csv(fleet_csv)

# Dropping unnecessary columns, set the index 
cleaned_fleet = fleet_df.drop(columns=["Aircraft Type","Future","Historic","Total","Orders","Unit Cost","Average Age"]).fillna(value=0)
cleaned_fleet_df = cleaned_fleet.set_index(["Parent Airline"]+["Airline"])

# Remove ',','$' and blank values
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace(',', '')
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace('$', '')
cleaned_fleet_df = cleaned_fleet_df.dropna()

# Set the objects to integer
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].astype(str).astype(int)

# Aggregate Columns to Sum
agg_fleet_df = cleaned_fleet_df.groupby(["Parent Airline","Airline"]).agg({"Current":"sum",
                                                                           "Total Cost (Current)":"sum"})
agg_fleet_df

                                                     Current  \
Parent Airline          Airline
Aegean Airlines         Aegean Airlines                 47.0
                        Olympic Air                     14.0
Aeroflot                Aeroflot                       189.0
                        Aurora Airlines                 20.0
                        Pobeda                          12.0
                        Rossiya Airlines                61.0
Aerolineas Argentinas   Aerolineas Argentinas           54.0
                        Austral Líneas Aéreas           26.0
Air Algerie             Air Algerie                     56.0
Air Arabia              Air Arabia                      38.0
                        Air Arabia Egypt                 1.0
                        Air Arabia Jordan                2.0
                        Air Arabia Maroc                 5.0
Air Astana              Air Astana                      31.0
Air Berlin              Air Berlin                     130.0
Air Canada              Air Canada                     166.0
                        Air Canada Jetz                  3.0
                        Air Canada Regional              1.0
                        Air Canada Rouge                44.0
Air China               Air China                      375.0
                        Air China Cargo                 15.0
                        Air China Inner Mongolia         3.0
                        Air Macau (66.9%)               17.0
                        Dalian Airlines (80%)            9.0
                        Kunming Airlines (80%)          18.0
                        Shandong Airlines (51%)        100.0
                        Shenzhen Airlines              171.0
Air Europa              Air Europa                      51.0
Air France/KLM          Air France                     226.0
                        HOP!                            88.0
...                                                      ...
Tianjin Airlines        GX Airlines                     13.0
                        Tianjin Airlines                91.0
Trans States Airlines   Compass Airlines                62.0
                        GoJet Airlines                  53.0
                        Trans States Airlines           55.0
Tunisair                Tunisair                        30.0
                        Tunisair Express                 4.0
Turkish Airlines        Anadolujet (100%)               34.0
                        Turkish Airlines               295.0
UPS Airlines            UPS                            236.0
United Airlines         United Airlines                730.0
Utair                   UTair-Cargo                     17.0
                        Utair                           65.0
                        Vostok Aviation Company         23.0
Vietnam Airlines        Cambodia Angkor Air              6.0
                        Jetstar Pacific Airlines        13.0
                        Vietnam Air Service Company      4.0
                        Vietnam Airlines                83.0
Virgin America          Virgin America                  63.0
Virgin Atlantic Airways Virgin Atlantic Airways         39.0
Virgin Australia        Tigerair Australia              17.0
                        Virgin Australia               113.0
                        Virgin Australia Regional       16.0
                        Virgin Samoa                     1.0
Volaris                 Volaris                         68.0
WestJet                 WestJet                        118.0
                        WestJet Encore                  33.0
Wizz Air                Wizz Air                        74.0
easyJet                 easyJet                        234.0
                        easyJet - Switzerland           26.0

                                                     Total Cost (Current)
Parent Airline          Airline
Aegean Airlines         Aegean Airlines                              4733
                        Olympic Air                                   420
Aeroflot                Aeroflot                                    22523
                        Aurora Airlines                              1159
                        Pobeda                                        888
                        Rossiya Airlines                             8056
Aerolineas Argentinas   Aerolineas Argentinas                        6197
                        Austral Líneas Aéreas                        1201
Air Algerie             Air Algerie                                  4919
Air Arabia              Air Arabia                                   3724
                        Air Arabia Egypt                               98
                        Air Arabia Jordan                             196
                        Air Arabia Maroc                              490
Air Astana              Air Astana                                   2772
Air Berlin              Air Berlin                                  13505
Air Canada              Air Canada                                  25994
                        Air Canada Jetz                               269
                        Air Canada Regional                            32
                        Air Canada Rouge                             5918
Air China               Air China                                   50660
                        Air China Cargo                              3593
                        Air China Inner Mongolia                      222
                        Air Macau (66.9%)                            1801
                        Dalian Airlines (80%)                         666
                        Kunming Airlines (80%)                       1332
                        Shandong Airlines (51%)                      7332
                        Shenzhen Airlines                           14626
Air Europa              Air Europa                                   6380
Air France/KLM          Air France                                  42291
                        HOP!                                         2999
...                                                                   ...
Tianjin Airlines        GX Airlines                                   756
                        Tianjin Airlines                             5084
Trans States Airlines   Compass Airlines                             2399
                        GoJet Airlines                               2208
                        Trans States Airlines                        1078
Tunisair                Tunisair                                     3022
                        Tunisair Express                              112
Turkish Airlines        Anadolujet (100%)                            2515
                        Turkish Airlines                            42693
UPS Airlines            UPS                                         30945
United Airlines         United Airlines                             90037
Utair                   UTair-Cargo                                   128
                        Utair                                        4370
                        Vostok Aviation Company                        20
Vietnam Airlines        Cambodia Angkor Air                           394
                        Jetstar Pacific Airlines                     1274
                        Vietnam Air Service Company                    88
                        Vietnam Airlines                            13743
Virgin America          Virgin America                               6090
Virgin Atlantic Airways Virgin Atlantic Airways                     10096
Virgin Australia        Tigerair Australia                           1594
                        Virgin Australia                             9372
                        Virgin Australia Regional                     476
                        Virgin Samoa                                   74
Volaris                 Volaris                                      6690
WestJet                 WestJet                                      9182
                        WestJet Encore                               1033
Wizz Air                Wizz Air                                     7438
easyJet                 easyJet                                     21815
                        easyJet - Switzerland                        2456

[276 rows x 2 columns]

In [ ]:
airline_csv = "./Resources/Largest Airlines 2015 with Origin or Destination in USA.csv"
airline_df = pd.read_csv(airline_csv)
airline_df.columns

cleaned_airline = airline_df.drop(columns=[" FREIGHT "," MAIL "])
cleaned_airline_df = cleaned_airline.rename(columns={" PASSENGERS ":"Passengers",
                                                     " Passenger Miles ":"Passenger Miles",
                                                     "CARRIER_NAME":"Parent Airline"})
cleaned_airline_df