In [2]:
# Dependencies 
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import config

In [5]:
## Heather's Code
# Import CSV
fleet_csv = "./Resources/Fleet Data.csv"
fleet_df = pd.read_csv(fleet_csv)

# Dropping unnecessary columns, set the index 
cleaned_fleet = fleet_df.drop(columns=["Aircraft Type","Future","Historic","Total","Orders","Unit Cost","Average Age"]).fillna(value=0)
cleaned_fleet_df = cleaned_fleet.set_index(["Parent Airline"]+["Airline"])

# Remove ',','$' and blank values
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace(',', '')
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace('$', '')
cleaned_fleet_df = cleaned_fleet_df.dropna()

# Set the objects to integer
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].astype(str).astype(int)

# Aggregate Columns to Sum
agg_fleet_df = cleaned_fleet_df.groupby(["Parent Airline","Airline"]).agg({"Current":"sum",
                                                                           "Total Cost (Current)":"sum"})

# Change column name to prevent engine errors
agg_fleet_df = agg_fleet_df.reset_index()
agg_fleet_df = agg_fleet_df.rename(columns={"Total Cost (Current)":"total_cost",
                                            "Parent Airline":"parent_airline",
                                            "Airline":"airline",
                                            "Current":"current"})

agg_fleet_df.head()

    parent_airline          airline  current  total_cost
0  Aegean Airlines  Aegean Airlines     47.0        4733
1  Aegean Airlines      Olympic Air     14.0         420
2         Aeroflot         Aeroflot    189.0       22523
3         Aeroflot  Aurora Airlines     20.0        1159
4         Aeroflot           Pobeda     12.0         888

In [4]:
## Michael's code
# Import CSV
airline_csv = "./Resources/Largest Airlines 2015 with Origin or Destination in USA.csv"
airline_df = pd.read_csv(airline_csv)
airline_df.columns

# Clean up the columns
cleaned_airline = airline_df.drop(columns=[" FREIGHT "," MAIL "])
cleaned_airline_df = cleaned_airline.rename(columns={" PASSENGERS ":"passengers",
                                                     " Passenger Miles ":"passenger_miles",
                                                     "CARRIER_NAME":"parent_airline"})
# Remove ','
cleaned_airline_df["passengers"] = cleaned_airline_df["passengers"].str.replace(',', '')
cleaned_airline_df["passenger_miles"] = cleaned_airline_df["passenger_miles"].str.replace(',', '')

# Set the objects to integer
cleaned_airline_df["passengers"] = cleaned_airline_df["passengers"].astype(str).astype(np.int64)
cleaned_airline_df["passenger_miles"] = cleaned_airline_df["passenger_miles"].astype(str).astype(np.int64)

cleaned_airline_df.head()

   passengers  passenger_miles                parent_airline
0   144637180     116627136731  Southwest Airlines Co. Total
1   137916298     186140690281    Delta Air Lines Inc. Total
2   118541411     166869071222  American Airlines Inc. Total
3    95028877     182508547016   United Air Lines Inc. Total
4    35130683      41726258863         JetBlue Airways Total

In [59]:
# Create an engine
connection_string = f'{config.user}:{config.pw}@localhost:5432/airlines_db'
engine = create_engine(f'postgresql://{connection_string}')

In [60]:
# Confirm tables
engine.table_names()

[]

In [65]:
# Cleaning of the data to be able to do a direct inner join in PostgreSQL

# Finding the unique parent airlines
fleet_unique = cleaned_fleet["Parent Airline"].unique()
fleet_unique

airline_unique = cleaned_airline_df["parent_airline"].unique()
airline_unique

# Defining a function to make everything lowercase, and have no spaces
def striplower(s):
    return ''.join(c.lower() for c in s if not c.isspace())

# Creating a dictionary that will include all of the matches found between the two unique lists
# Big shoutout to Sondra for helping us design this loop to keep things relatively simple
airline_rename = {}
for fleet in fleet_unique:
    for airline in airline_unique:
        if striplower(fleet) in striplower(airline):
            airline_rename[airline] = fleet
            
# This is coding used to print what does NOT showup on the rename lists, it is simply used to double check our data for accuracy
for airline in airline_unique:
    airline_found = False
    for key in airline_rename.keys():
        if key == airline:
            airline_found = True
            break
    if not airline_found:
        print(airline)

US Airways Inc. Total
ExpressJet Airlines Inc. Total
Republic Airlines Total
Envoy Air Total
Endeavor Air Inc. Total
PSA Airlines Inc. Total
Horizon Air Total
Shuttle America Corp. Total
British Airways Plc Total
Compass Airlines Total
GoJet Airlines LLC d/b/a United Express Total
Compagnie Natl Air France Total
Aeromexico Total
Piedmont Airlines Total
Sun Country Airlines d/b/a MN Airlines Total
Compania Panamena (Copa) Total
Transportes Aeros Meridiona Total
Jazz Aviation LP Total
Klm Royal Dutch Airlines Total
Turk Hava Yollari A.O. Total
Aer Lingus Plc Total
Sky Regional Airlines Inc. Total
Swiss International Airlines Total
Aerovias Nacl De Colombia Total
Taca International Airlines Total
Scandinavian Airlines Sys. Total
Caribbean Airlines Limited Total
Iberia Air Lines Of Spain Total
Compagnia Aerea Italiana Total
Icelandair Total
Porter Airlines, Inc. Total
Silver Airways Total
Lan-Chile Airlines Total
Cape Air Total
Aerolitoral Total
Lan Peru Airlines Total
Austrian Airlines Total
Bahamasair Holding Limited Total
Era Aviation Total
Virgin Blue International Airlines t/a V Australia Total
Air Georgian Total
Santa Barbara Airlines, C.A Total
Swift Air, LLC Total
Island Air Hawaii Total
Polskie Linie Lotnicze Total
Tap-Portuguese Airlines Total
Jetstar Airways Pty Limited Total
Hageland Aviation Service Total
Grand Canyon Airlines, Inc. d/b/a Grand Canyon Airlines d/b/a Scenic Airlines Total
Air Tahiti Nui Total
Omni Air Express Total
Mokulele Flight Services, Inc. Total
Condor Flugdienst Total
Lacsa Total
Seaborne Aviation Total
Lan Ecuador Total
Brussels Airlines N.V. Total
Peninsula Airways Inc. Total
Cayman Airways Limited Total
Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines Total
Air Pacific Ltd. Total
Jin Air Co Ltd. Total
Empire Airlines Inc. Total
Sunwing Airlines Inc. Total
XTRA Airways Total
XL Airways France Total
Miami Air International Total
Sichuan Airlines Co Ltd. Total
LAN Argentina Total
Aeroenlaces Nacionales, S.A. de C.V. d/b/a VivaAerobus Total
VRG Linhas Aereas S A Total
Taca Peru Total
Aerovias de Intergracian Regional Total
Elysair d/b/a L'Avion Total
Air Japan Co Total
Tame Linea Aerea del Ecuador Tme EP Total
WOW Air ehf Total
Kuwait Airways Corp. Total
Grant Aviation Total
Eastern Airlines Group Inc. Total
Avior Airlines, C.A. Total
Dynamic Airways, LLC Total
SeaPort Airlines, Inc. d/b/a Wings of Alaska Total
Sata Internacional Total
Star Marianas Air Inc. Total
Britannia Airways Ltd. Total
Great Lakes Airlines Total
Ukraine International Airlines Total
Insel Air International B V Total
Transaero Airlines Total
Vision Airlines Total
Vieques Air Link Inc. Total
Island Airlines LLC Total
TUI Airlines Nederland B.V. Total
Polynesian Airlines Ltd. Total
Bering Air Inc. Total
Multi-Aero, Inc. d/b/a Air Choice One Total
Kenmore Air Harbor Total
Edelweiss Air Ag Total
Inselair Aruba NV Total
Air Charter, Inc d/b/a Air Flamenco Total
Falcon Air Express Total
TUI Airlines Belgium N.V. d/b/a Jetairfly Total
Fly Jamaica Airways Limited Total
Yute Air Aka Flight Alaska Total
Surinam Airways Limited Total
Ultimate JetCharters LLC dba Ultimate Air Shuttle Total
Via Airlines d/b/a Charter Air Transport Total
Wright Air Service Total
Songbird Airways Inc. Total
Kalinin Aviation LLC d/b/a Alaska Seaplanes Total
PM Air, LLC Total
Arik Air International Total
Boutique Air Total
Azerbaijan Airlines CJSC Total
Tradewind Aviation Total
Uzbekistan Airways Total
Warbelow Total
Transportes Aereos De Cabo Total
Corporate Flight Management Inc. Total
City Wings Inc dba Seaflight Total
Sun Air Express LLC dba Sun Air International Total
New England Airlines Inc. Total
Sky King Inc. Total
Venture Travel LLC d/b/a Taquan Air Service Total
Pacific Airways, Inc. Total
Scott Air LLC dba Island Air Express Total
Orange Air Total
Katmai Air Total
Iliamna Air Taxi Total
Island Air Service Total
Ameristar Air Cargo Total
Makani Kai Air Charters Total
Transportes Aeromar S.A de C.V Total
Compagnie Aerienne Inter Regionale Express dba Air Antilles Express & Air Guyane Total
Smokey Bay Air Inc. Total
KaiserAir, Inc. Total
Privatair Total
Homer Air Total
Air Sunshine Inc. Total
Servant Air Inc. Total
Charter Air Transport, Inc. Total
Spernak Airways Inc. Total
Avjet Corporation Total
Air Excursions LLC Total
Menagerie Enterprises Inc d/b/a Monarch Air Total
Bradley Air Services Ltd. Total
Alaska Central Express Total
Titan Airways Total
Tatonduk Outfitters Limited d/b/a Everts Air Alaska and Everts Air Cargo Total
Chartright Air Inc. Total
London Air Services Limited Total
Nolinor Aviation Total
Arctic Transportation Total
VistaJet Limited Total
West Isle Air Total
Grand Canyon Helicopters Total
Tanana Air Service Total
Air Company Yakutia Total
Flair Airlines Ltd. Total
40-Mile Air Total
TAG Aviation (UK) Ltd. Total
Reeve Air Alaska, LLC Total
Gainjet Aviation SA Total
Pacific Wings Airlines Total
Air Alsie A/S Total
CAT Aviation Total
Blue Jet SP Z o o Total
Global Jet Luxembourg, Sa Total
TAG Aviation Espana S.L. Total
Acropolis Aviation Ltd. Total
Unijet Total
Propair Total
Erickson Helicopters Total
Comlux Aruba NV Total
Ellis Air Taxi Inc. Total
Albinati Aeronautics SA Total
ACM AIR CHARTER GmbH Total
Comlux Malta, Ltd. Total
DCA Total
G5 Executive Ag Total
ABS JETS A.S Total
VistaJet Luftfahrtunternehmen GmbH Total
Ward Air Total
Dassault Falcon Service Total
Tyrolean Jet Service Total
International Jet Management GmbH Total
Amira Air GmbH Total
Swiss Air Ambulance Total
TAG Aviation S.A. Total
Mjet GmbH Total
Albinati aviation Limited Total
JetClub AG Total
Global Jet Austria, GmbH Total
Bertelsmann Aviation GmbH Total

In [66]:
# Replacing the untidy parent_airline column with the tidy one created with the loop
cleaned_airline_df["parent_airline"] = cleaned_airline_df["parent_airline"].replace(to_replace=airline_rename)

In [67]:
# Connecting to the engines using the final cleaned data
cleaned_airline_df.to_sql(name='airlines', con=engine, if_exists='append', index=False)
agg_fleet_df.to_sql(name='fleet', con=engine, if_exists='append', index=True)