In [14]:
# Dependencies 
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import config

In [2]:
## Heather's Code
# Import CSV
fleet_csv = "./Resources/Fleet Data.csv"
fleet_df = pd.read_csv(fleet_csv)

# Dropping unnecessary columns, set the index 
cleaned_fleet = fleet_df.drop(columns=["Aircraft Type","Future","Historic","Total","Orders","Unit Cost","Average Age"]).fillna(value=0)
cleaned_fleet_df = cleaned_fleet.set_index(["Parent Airline"]+["Airline"])

# Remove ',','$' and blank values
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace(',', '')
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].str.replace('$', '')
cleaned_fleet_df = cleaned_fleet_df.dropna()

# Set the objects to integer
cleaned_fleet_df["Total Cost (Current)"] = cleaned_fleet_df["Total Cost (Current)"].astype(str).astype(int)

# Aggregate Columns to Sum
agg_fleet_df = cleaned_fleet_df.groupby(["Parent Airline","Airline"]).agg({"Current":"sum",
                                                                           "Total Cost (Current)":"sum"})
agg_fleet_df

                                                     Current  \
Parent Airline          Airline
Aegean Airlines         Aegean Airlines                 47.0
                        Olympic Air                     14.0
Aeroflot                Aeroflot                       189.0
                        Aurora Airlines                 20.0
                        Pobeda                          12.0
                        Rossiya Airlines                61.0
Aerolineas Argentinas   Aerolineas Argentinas           54.0
                        Austral Líneas Aéreas           26.0
Air Algerie             Air Algerie                     56.0
Air Arabia              Air Arabia                      38.0
                        Air Arabia Egypt                 1.0
                        Air Arabia Jordan                2.0
                        Air Arabia Maroc                 5.0
Air Astana              Air Astana                      31.0
Air Berlin              Air Berlin                     130.0
Air Canada              Air Canada                     166.0
                        Air Canada Jetz                  3.0
                        Air Canada Regional              1.0
                        Air Canada Rouge                44.0
Air China               Air China                      375.0
                        Air China Cargo                 15.0
                        Air China Inner Mongolia         3.0
                        Air Macau (66.9%)               17.0
                        Dalian Airlines (80%)            9.0
                        Kunming Airlines (80%)          18.0
                        Shandong Airlines (51%)        100.0
                        Shenzhen Airlines              171.0
Air Europa              Air Europa                      51.0
Air France/KLM          Air France                     226.0
                        HOP!                            88.0
...                                                      ...
Tianjin Airlines        GX Airlines                     13.0
                        Tianjin Airlines                91.0
Trans States Airlines   Compass Airlines                62.0
                        GoJet Airlines                  53.0
                        Trans States Airlines           55.0
Tunisair                Tunisair                        30.0
                        Tunisair Express                 4.0
Turkish Airlines        Anadolujet (100%)               34.0
                        Turkish Airlines               295.0
UPS Airlines            UPS                            236.0
United Airlines         United Airlines                730.0
Utair                   UTair-Cargo                     17.0
                        Utair                           65.0
                        Vostok Aviation Company         23.0
Vietnam Airlines        Cambodia Angkor Air              6.0
                        Jetstar Pacific Airlines        13.0
                        Vietnam Air Service Company      4.0
                        Vietnam Airlines                83.0
Virgin America          Virgin America                  63.0
Virgin Atlantic Airways Virgin Atlantic Airways         39.0
Virgin Australia        Tigerair Australia              17.0
                        Virgin Australia               113.0
                        Virgin Australia Regional       16.0
                        Virgin Samoa                     1.0
Volaris                 Volaris                         68.0
WestJet                 WestJet                        118.0
                        WestJet Encore                  33.0
Wizz Air                Wizz Air                        74.0
easyJet                 easyJet                        234.0
                        easyJet - Switzerland           26.0

                                                     Total Cost (Current)
Parent Airline          Airline
Aegean Airlines         Aegean Airlines                              4733
                        Olympic Air                                   420
Aeroflot                Aeroflot                                    22523
                        Aurora Airlines                              1159
                        Pobeda                                        888
                        Rossiya Airlines                             8056
Aerolineas Argentinas   Aerolineas Argentinas                        6197
                        Austral Líneas Aéreas                        1201
Air Algerie             Air Algerie                                  4919
Air Arabia              Air Arabia                                   3724
                        Air Arabia Egypt                               98
                        Air Arabia Jordan                             196
                        Air Arabia Maroc                              490
Air Astana              Air Astana                                   2772
Air Berlin              Air Berlin                                  13505
Air Canada              Air Canada                                  25994
                        Air Canada Jetz                               269
                        Air Canada Regional                            32
                        Air Canada Rouge                             5918
Air China               Air China                                   50660
                        Air China Cargo                              3593
                        Air China Inner Mongolia                      222
                        Air Macau (66.9%)                            1801
                        Dalian Airlines (80%)                         666
                        Kunming Airlines (80%)                       1332
                        Shandong Airlines (51%)                      7332
                        Shenzhen Airlines                           14626
Air Europa              Air Europa                                   6380
Air France/KLM          Air France                                  42291
                        HOP!                                         2999
...                                                                   ...
Tianjin Airlines        GX Airlines                                   756
                        Tianjin Airlines                             5084
Trans States Airlines   Compass Airlines                             2399
                        GoJet Airlines                               2208
                        Trans States Airlines                        1078
Tunisair                Tunisair                                     3022
                        Tunisair Express                              112
Turkish Airlines        Anadolujet (100%)                            2515
                        Turkish Airlines                            42693
UPS Airlines            UPS                                         30945
United Airlines         United Airlines                             90037
Utair                   UTair-Cargo                                   128
                        Utair                                        4370
                        Vostok Aviation Company                        20
Vietnam Airlines        Cambodia Angkor Air                           394
                        Jetstar Pacific Airlines                     1274
                        Vietnam Air Service Company                    88
                        Vietnam Airlines                            13743
Virgin America          Virgin America                               6090
Virgin Atlantic Airways Virgin Atlantic Airways                     10096
Virgin Australia        Tigerair Australia                           1594
                        Virgin Australia                             9372
                        Virgin Australia Regional                     476
                        Virgin Samoa                                   74
Volaris                 Volaris                                      6690
WestJet                 WestJet                                      9182
                        WestJet Encore                               1033
Wizz Air                Wizz Air                                     7438
easyJet                 easyJet                                     21815
                        easyJet - Switzerland                        2456

[276 rows x 2 columns]

In [12]:
## Michael's code
# Import CSV
airline_csv = "./Resources/Largest Airlines 2015 with Origin or Destination in USA.csv"
airline_df = pd.read_csv(airline_csv)
airline_df.columns

# Clean up the columns
cleaned_airline = airline_df.drop(columns=[" FREIGHT "," MAIL "])
cleaned_airline_df = cleaned_airline.rename(columns={" PASSENGERS ":"Passengers",
                                                     " Passenger Miles ":"Passenger Miles",
                                                     "CARRIER_NAME":"Parent Airline"})
# Remove ','
cleaned_airline_df["Passengers"] = cleaned_airline_df["Passengers"].str.replace(',', '')
cleaned_airline_df["Passenger Miles"] = cleaned_airline_df["Passenger Miles"].str.replace(',', '')

# Set the objects to integer
cleaned_airline_df["Passengers"] = cleaned_airline_df["Passengers"].astype(str).astype(np.int64)
cleaned_airline_df["Passenger Miles"] = cleaned_airline_df["Passenger Miles"].astype(str).astype(np.int64)

cleaned_airline_df

,Passengers,Passenger Miles,Parent Airline
0,144637180,116627136731,Southwest Airlines Co. Total
1,137916298,186140690281,Delta Air Lines Inc. Total
2,118541411,166869071222,American Airlines Inc. Total
3,95028877,182508547016,United Air Lines Inc. Total
4,35130683,41726258863,JetBlue Airways Total
5,30078314,16965403368,SkyWest Airlines Inc. Total
6,28269616,32330747593,US Airways Inc. Total
7,26002874,12683188091,ExpressJet Airlines Inc. Total
8,22868140,30301282863,Alaska Airlines Inc. Total
9,17629033,17944023815,Spirit Air Lines Total
10,14043606,6774383986,Republic Airlines Total
11,13104187,13329939730,Frontier Airlines Inc. Total
12,12304231,5391180178,Envoy Air Total
13,11416204,6409816100,Mesa Airlines Inc. Total
14,10459770,14437289617,Hawaiian Airlines Inc. Total
15,10279270,5530870384,Endeavor Air Inc. Total
16,9560098,8993561369,Allegiant Air Total
17,9138696,3514221072,PSA Airlines Inc. Total
18,7909194,2300571592,Horizon Air Total
19,7818321,4339150021,Shuttle America Corp. Total
20,7068903,30129557351,British Airways Plc Total
21,6993269,10428209311,Virgin America Total
22,6312190,2286605964,Air Wisconsin Airlines Corp Total
23,5529920,25678566746,Lufthansa German Airlines Total
24,4954755,3506328231,Compass Airlines Total
25,4378275,2446390156,GoJet Airlines LLC d/b/a United Express Total
26,4340453,5867951544,Westjet Total
27,3875015,5666136855,Air Canada Total
28,3590723,15212198022,Virgin Atlantic Airways Total
29,3574270,15465856424,Compagnie Natl Air France Total
...,...,...,...
229,231,974766,Air Alsie A/S Total
230,220,960139,CAT Aviation Total
231,218,1046165,Blue Jet SP Z o o Total
232,215,922472,"Global Jet Luxembourg, Sa Total"
233,208,742005,TAG Aviation Espana S.L. Total
234,169,543404,Acropolis Aviation Ltd. Total
235,153,622552,Unijet Total
236,141,45200,Propair Total
237,138,11071,Erickson Helicopters Total
238,130,663022,Comlux Aruba NV Total
239,114,12547,Ellis Air Taxi Inc. Total
240,105,444573,Albinati Aeronautics SA Total
241,95,407465,ACM AIR CHARTER GmbH Total
242,88,274018,"Comlux Malta, Ltd. Total"
243,87,387156,DCA Total
244,84,407407,G5 Executive Ag Total
245,75,172245,ABS JETS A.S Total
246,67,310341,VistaJet Luftfahrtunternehmen GmbH Total
247,51,1404,Ward Air Total
248,48,192666,Dassault Falcon Service Total
249,48,232833,Tyrolean Jet Service Total
250,39,158780,International Jet Management GmbH Total
251,38,180012,Amira Air GmbH Total
252,35,186375,Swiss Air Ambulance Total
253,25,102446,TAG Aviation S.A. Total
254,24,125922,Mjet GmbH Total
255,19,80639,Albinati aviation Limited Total
256,11,34239,JetClub AG Total
257,10,46664,"Global Jet Austria, GmbH Total"
258,4,16148,Bertelsmann Aviation GmbH Total

In [17]:
# Create an engine
connection_string = f"{config.user}:{config.pw}@localhost:5432/fleet_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# Confirm tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: http://sqlalche.me/e/e3q8)