In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
csv_file = "Resources/Fleet Data.csv"
fleet_data_df = pd.read_csv(csv_file)
fleet_data_df.head()

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
0,Aegean Airlines,Aegean Airlines,Airbus A319,1.0,NaN,3.0,4.0,NaN,$90,$90,11.6
1,Aegean Airlines,Olympic Air,Airbus A319,NaN,NaN,8.0,8.0,NaN,$90,$0,NaN
2,Aegean Airlines,Aegean Airlines,Airbus A320,38.0,NaN,3.0,41.0,NaN,$98,"$3,724",7.5
3,Aegean Airlines,Olympic Air,Airbus A320,NaN,NaN,9.0,9.0,NaN,$98,$0,NaN
4,Aegean Airlines,Aegean Airlines,Airbus A321,8.0,NaN,NaN,8.0,NaN,$115,$919,10.3

In [6]:
fleet_data_df.columns

Index(['Parent Airline', 'Airline', 'Aircraft Type', 'Current', 'Future',
       'Historic', 'Total', 'Orders', 'Unit Cost', 'Total Cost (Current)',
       'Average Age'],
      dtype='object')

In [10]:
csv_file = "Resources/Largest Airlines 2015 with Origin or Destination in USA.csv"
passenger_data_df = pd.read_csv(csv_file)
passenger_data_df.head()

,PASSENGERS,FREIGHT,MAIL,Passenger Miles,CARRIER_NAME
0,"144,637,180","289,611,118",-,"116,627,136,731",Southwest Airlines Co. Total
1,"137,916,298","975,245,401","240,169,831","186,140,690,281",Delta Air Lines Inc. Total
2,"118,541,411","987,757,310","153,541,964","166,869,071,222",American Airlines Inc. Total
3,"95,028,877","968,514,741","356,224,690","182,508,547,016",United Air Lines Inc. Total
4,"35,130,683","26,557,394",-,"41,726,258,863",JetBlue Airways Total

In [11]:
passenger_data_df.columns

Index([' PASSENGERS ', ' FREIGHT ', ' MAIL ', ' Passenger Miles ',
       'CARRIER_NAME'],
      dtype='object')